assets/scenes
build
.vs
.vscode
imgui.ini
doxygen/
tests/system_test/artifacts
tests/system_test/tmp
output/*
.mypy_cache
tags

# vim backup and temp files
*~
.*.sw*
.sw*

# Modified for project wings
cmake-build-debug
cmake-build-release
.idea